.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* round corners pu */
}
/* mouse hover */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Dito pu yung para sa padding */
.container {
  padding: 2px 16px;
}
.card:hover {
  transform:scale(1.02);
}
/* rounded corners ng image para smooth and cool */
img {
  border-radius: 5px 5px 0 0;
}